{% extends "main.html" %} {%load static%} {%block content%}
<body style="background: #000000">
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header
    class="header-area header-sticky wow slideInDown"
    data-wow-duration="0.95s"
    data-wow-delay="0s"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo">
              <img src="{% static 'assets/images/log1.png'%}" alt="" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="#top" class="active">Accueil</a>
              </li>
              <li class="scroll-to-section">
                <a href="#pricing">Services</a>
              </li>
              <li class="scroll-to-section">
                <a href="#services">Realisation</a>
              </li>
              <li class="scroll-to-section">
                <a href="#clients">Fonctionnement</a>
              </li>
              <li>
                <div class="gradient-button">
                  <a id="modal_trigger" href="https://calendly.com/romaricthiombiano4/concretisons-votre-projet-d-application?"
                    ><i class="fa fa-sign-in-alt"></i> Prendre RDV</a
                  >
                </div>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  

  <div
    class="main-banner wow fadeIn"
    id="top"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
  >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <h2 id="animated-h2">Réalisez vos rêves numériques.</h2>
                  <p>
                    Votre <span id="animated-word">entreprise</span> a besoin d'une application mobile ou web pour accroître son réseau et améliorer son image. Permettez-moi de réaliser vos rêves en vous offrant un service de qualité.
                  </p>
                </div>
                <div class="col-lg-12">
                  <div class="white-button scroll-to-section">
                    <a href="#contact">Ton projet, on en discute ?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="{% static 'assets/images/droit.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.1s">
            <h4>Qu'est ce que je proposes comme <em>services</em> concrètement ?</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
          <div class="pricing-item-regular">
            <span class="price">avec</span>
            <h4>Dev Web</h4>
            <div class="icon">
              <img src="{% static 'assets/images/django.png' %}" alt="" />
            </div>
            <p>Django me permet de construire des sites solides et sécurisés, idéal pour des applications web robustes. Grâce à ses fonctionnalités intégrées, je peux développer rapidement des solutions fiables et évolutives, garantissant ainsi un service performant et de qualité.</p>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
          <div class="pricing-item-pro">
            <span class="price">avec</span>
            <h4>Dev mobile</h4>
            <div class="icon">
              <img src="{% static 'assets/images/flutter.png' %}" alt="" />
            </div>
            <p>Flutter me permet de développer des applications mobiles avec une interface utilisateur moderne et fluide, compatible avec toutes les plateformes. Les performances élevées et la richesse des animations permettent de livrer une expérience utilisateur exceptionnelle.</p>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
          <div class="pricing-item-regular">
            <span class="price">avec</span>
            <h4>Design</h4>
            <div class="icon">
              <img src="{% static 'assets/images/illustrator.png' %}" alt="" />
            </div>
            <p>Utiliser Illustrator me permet de créer des visuels professionnels et précis grâce à ses outils de conception vectorielle. Cela garantit une qualité, avec des détails nets et une flexibilité pour les ajustements, tout en maintenant une résolution parfaite quel que soit le format.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  





  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.1s">
            <h4>Projets <em>réalisés</em></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="service-item first-service wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
            <div class="icon"></div>
            <h4>DjangoChat</h4>
            <p>
              une application web de chat de groupe avec Django, permettant aux utilisateurs de discuter en temps réel dans un environnement sécurisé .
            </p>
            <div class="text-button">
              <a href="#">savoir plus <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-item second-service wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <div class="icon"></div>
            <h4>SnakeGame</h4>
            <p>
              un jeu classique de serpent en Python, conçu pour un étudiant de L'ISGE, offrant une expérience de jeu amusante et interactive.
            </p>
            <div class="text-button">
              <a href="#">savoir plus  <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-item third-service wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="icon"></div>
            <h4>Design Graphic</h4>
            <p>
              une affiche élégante pour l'entreprise Neemdo, mettant en valeur leur identité visuelle avec des éléments modernes et attractifs.
            </p>
            <div class="text-button">
              <a href="#">savoir plus <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-item fourth-service wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
            <div class="icon"></div>
            <h4>Gemini</h4>
            <p>
              Conception d'un site web impressionnant pour l'entreprise Gemini, offrant une interface utilisateur captivante et un Design innovant.
            </p>
            <div class="text-button">
              <a href="#">En cours <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    





  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Mon<em> Processus</em> de développement</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <!-- Section gauche (Processus) -->
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <!-- Premier élément -->
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <i class="fa fa-cogs"></i> <!-- Remplacez par l'icône souhaitée -->
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <h3>Analyse</h3>
                            <p>Une analyse minutieuse est la base de votre application.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Deuxième élément -->
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <i class="fa fa-pencil-alt"></i> <!-- Remplacez par l'icône souhaitée -->
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <h3>Conception</h3>
                            <p>Vous aurez un aperçu de votre future application.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Troisième élément -->
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <i class="fa fa-code"></i> <!-- Remplacez par l'icône souhaitée -->
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <h3>Développement</h3>
                            <p>Je crée un code performant et réutilisable.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Quatrième élément -->
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <i class="fa fa-truck"></i> <!-- Remplacez par l'icône souhaitée -->
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <h3>Livraison</h3>
                            <p>Je vous livre une version finale prête à être déployée.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Cinquième élément -->
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <i class="fa fa-check-circle"></i> <!-- Remplacez par l'icône souhaitée -->
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <h3>Suivi</h3>
                            <p>Un suivi continu pour assurer le succès de votre application.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Section droite (Témoignage) -->
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <h3>Témoignage</h3>
                                <p>
                                  C'est une personne très compétente et fiable ! Le travail est de qualité et il répond toujours rapidement. Son professionnalisme est vraiment impressionnant, je le recommande fortement.
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/photoAlex.png' %}" alt="100X100" />
                                <div class="right-content">
                                  <h4>Christ Alex Ouedraogo</h4>
                                  <span>PDG de Gemini</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  



  <div id="contact" class="contact-form-container">
    <h2>Contactez-moi</h2>
    <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <!-- Champ Nom -->
        <div class="input-group">
            {{form.name}}
            <label for="name">Nom</label>
        </div>
        <!-- Champ Email -->
        <div class="input-group">
            {{form.email}}
            <label for="email">Email</label>
        </div>
        <!-- Champ Message -->
        <div class="input-group">
            {{form.message}}
            <label for="message">Message</label>
        </div>
        <button type="submit" class="submit-btn">Envoyer votre message</button>

        {% if messages %}
          <div id="alert-box" class="alert alert-success">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}

    </form>
</div>

  
</body>

{% endblock %}
